DirectoryIndex app.php

Redirect 301 /catalog	http://dvestrahovki.ru/moscow/companies

Redirect /company/ua/kyiv/aska http://dvestrahovki.ru/
Redirect /company/ua/kyiv/vuso http://dvestrahovki.ru/
Redirect /company/ua/kyiv/alfaic http://dvestrahovki.ru/
Redirect /company/kz/astana/ai http://dvestrahovki.ru/
Redirect /company/kz/astana/interteac/comments http://dvestrahovki.ru/
Redirect /company/by/minsk/bns http://dvestrahovki.ru/
Redirect /company/kz/astana/stdi http://dvestrahovki.ru/

Redirect 301 /company/ru/Rostov-on-Don/alfastrah http://dvestrahovki.ru/rostov-na-donu/companies/alfastrah
Redirect 301 /company/ru/novosibirsk/gefest http://dvestrahovki.ru/novosibirsk/companies/gefest
Redirect 301 /company/ru/Ekaterinburg/vsk http://dvestrahovki.ru/novosibirsk/companies/gefest
Redirect 301 /company/ru/Ekaterinburg/vsk http://dvestrahovki.ru/ekaterinburg/companies/vsk
Redirect 301 /company/ru/moscow/intouch http://dvestrahovki.ru/moscow/companies/intouch

Redirect 301 /krasnodar/companies/sk_if http://dvestrahovki.ru/sankt-peterburg/companies/sk-dar
Redirect 301 /samara/companies/sk_if http://dvestrahovki.ru/sankt-peterburg/companies/sk-dar
Redirect 301 /perm/companies/sk_if http://dvestrahovki.ru/sankt-peterburg/companies/sk-dar
Redirect 301 /perm/companies/AIZhK http://dvestrahovki.ru/moscow/companies/AIZhK
Redirect 301 /rostov-na-donu/companies/ugsk http://dvestrahovki.ru/moscow/companies/ugsk

Redirect 301 /company/ru/moscow/avangard-garant/comments http://dvestrahovki.ru/moscow/companies/avangard-garant/comments
Redirect 301 /company/ru/moscow/avangard-garant http://dvestrahovki.ru/moscow/companies/avangard-garant
Redirect 301 /company/ru/moscow/vsk http://dvestrahovki.ru/moscow/companies/vsk
Redirect 301 /company/ru/moscow/vsk/comments http://dvestrahovki.ru/moscow/companies/vsk/comments
Redirect 301 /company/ru/moscow/uralsib http://dvestrahovki.ru/moscow/companies/uralsib
Redirect 301 /company/ru/moscow/uralsib/comments http://dvestrahovki.ru/moscow/companies/uralsib/comments
Redirect 301 /company/ru/moscow/gut http://dvestrahovki.ru/moscow/companies/gut
Redirect 301 /company/ru/moscow/gut/comments http://dvestrahovki.ru/moscow/companies/gut/comments

Redirect 301 /company/ru/sankt-peterburg/reso http://dvestrahovki.ru/moscow/companies/reso
Redirect 301 /company/ru/sankt-peterburg/vtb http://dvestrahovki.ru/moscow/companies/vtb
Redirect 301 /company/ru/moscow/d2ins http://dvestrahovki.ru/moscow/companies/d2ins
Redirect 301 /company/ru/sankt-peterburg/21_vek http://dvestrahovki.ru/moscow/companies/21_vek
Redirect 301 /nizhny-novgorod/companies/alfastrah http://dvestrahovki.ru/moscow/companies/alfastrah
Redirect 301 /sankt-peterburg/companies/alfastrah http://dvestrahovki.ru/moscow/companies/alfastrah
Redirect 301 /krasnodar/companies/alfastrah http://dvestrahovki.ru/moscow/companies/alfastrah
Redirect 301 /krasnoyarsk/companies/alfastrah http://dvestrahovki.ru/moscow/companies/alfastrah
Redirect 301 /nizhny-novgorod/companies/sgmsk http://dvestrahovki.ru/moscow/companies/sgmsk
Redirect 301 /krasnoyarsk/companies/vsk http://dvestrahovki.ru/moscow/companies/vsk
Redirect 301 /rostov-na-donu/companies/AIZhK/comments http://dvestrahovki.ru/moscow/companies/AIZhK
Redirect 301 /rostov-na-donu/companies/sk_if http://dvestrahovki.ru/moscow/companies/sk_if
Redirect 301 /ekaterinburg/companies/sk_if http://dvestrahovki.ru/moscow/companies/sk_if
Redirect 301 /nizhny-novgorod/companies/zhaso http://dvestrahovki.ru/moscow/companies/zhaso
Redirect 301 /novosibirsk/companies/aig/comments http://dvestrahovki.ru/moscow/companies/aig/comments
Redirect 301 /nizhny-novgorod/companies/aig/comments http://dvestrahovki.ru/moscow/companies/aig/comments
Redirect 301 /krasnoyarsk/companies/AIZhK/comments http://dvestrahovki.ru/moscow/companies/AIZhK/comments
Redirect 301 /sankt-peterburg/companies/AIZhK/comments http://dvestrahovki.ru/moscow/companies/AIZhK/comments
Redirect 301 /omsk/companies/AIZhK/comments http://dvestrahovki.ru/moscow/companies/AIZhK/comments
Redirect 301 /novosibirsk/companies/AIZhK/comments http://dvestrahovki.ru/moscow/companies/AIZhK/comments
Redirect 301 /samara/companies/AIZhK/comments http://dvestrahovki.ru/moscow/companies/AIZhK/comments
Redirect 301 /krasnodar/companies/AIZhK/comments http://dvestrahovki.ru/moscow/companies/AIZhK/comments
Redirect 301 /ekaterinburg/companies/AIZhK/comments http://dvestrahovki.ru/moscow/companies/AIZhK/comments
Redirect 301 /nizhny-novgorod/companies/AIZhK/comments http://dvestrahovki.ru/moscow/companies/AIZhK/comments
Redirect 301 /sankt-peterburg/companies/AIZhK http://dvestrahovki.ru/moscow/companies/AIZhK
Redirect 301 /rostov-na-donu/companies/AIZhK http://dvestrahovki.ru/moscow/companies/AIZhK
Redirect 301 /ekaterinburg/companies/AIZhK http://dvestrahovki.ru/moscow/companies/AIZhK
Redirect 301 /samara/companies/AIZhK http://dvestrahovki.ru/moscow/companies/AIZhK
Redirect 301 /krasnoyarsk/companies/AIZhK http://dvestrahovki.ru/moscow/companies/AIZhK
Redirect 301 /omsk/companies/AIZhK http://dvestrahovki.ru/moscow/companies/AIZhK
Redirect 301 /krasnodar/companies/AIZhK http://dvestrahovki.ru/moscow/companies/AIZhK
Redirect 301 /novosibirsk/companies/AIZhK http://dvestrahovki.ru/moscow/companies/AIZhK
Redirect 301 /nizhny-novgorod/companies/AIZhK http://dvestrahovki.ru/moscow/companies/AIZhK
Redirect 301 /nizhny-novgorod/companies/vtbins http://dvestrahovki.ru/novosibirsk/companies/vtbins
Redirect 301 /krasnoyarsk/companies/vtbins http://dvestrahovki.ru/novosibirsk/companies/vtbins

Redirect 301 /company/ru/novosibirsk/nadins/comments http://dvestrahovki.ru/novosibirsk/companies/nadins

Redirect 301 /company/ru http://dvestrahovki.ru/moscow/companies

Redirect 301 //comments http://dvestrahovki.ru/moscow/comments
Redirect 301 /ekaterinburg/companies/aig/comments http://dvestrahovki.ru/moscow/companies/aig/comments
Redirect 301 /omsk/companies/aig/comments http://dvestrahovki.ru/moscow/companies/aig/comments
Redirect 301 /krasnodar/companies/aig/comments http://dvestrahovki.ru/moscow/companies/aig/comments
Redirect 301 /sankt-peterburg/companies/aig/comments http://dvestrahovki.ru/moscow/companies/aig/comments
Redirect 301 /samara/companies/aig/comments http://dvestrahovki.ru/moscow/companies/aig/comments
Redirect 301 /perm/companies/aig/comments http://dvestrahovki.ru/moscow/companies/aig/comments
Redirect 301 /krasnoyarsk/companies/aig/comments http://dvestrahovki.ru/moscow/companies/aig/comments
Redirect 301 /rostov-na-donu/companies/aig/comments http://dvestrahovki.ru/moscow/companies/aig/comments
Redirect 301 /sankt-peterburg/companies/binins http://dvestrahovki.ru/moscow/companies/binins
Redirect 301 /ekaterinburg/companies/binins http://dvestrahovki.ru/moscow/companies/binins
Redirect 301 /samara/companies/binins http://dvestrahovki.ru/moscow/companies/binins
Redirect 301 /omsk/companies/binins http://dvestrahovki.ru/moscow/companies/binins
Redirect 301 /perm/companies/binins http://dvestrahovki.ru/moscow/companies/binins
Redirect 301 /krasnodar/companies/binins http://dvestrahovki.ru/moscow/companies/binins
Redirect 301 /nizhny-novgorod/companies/binins http://dvestrahovki.ru/moscow/companies/binins
Redirect 301 /krasnoyarsk/companies/binins http://dvestrahovki.ru/moscow/companies/binins
Redirect 301 /rostov-na-donu/companies/binins http://dvestrahovki.ru/moscow/companies/binins

Redirect 301 /perm/companies/zhaso http://dvestrahovki.ru/sankt-peterburg/companies/zhaso
Redirect 301 /company/ru/sankt-peterburg/companion http://dvestrahovki.ru/sankt-peterburg/companies/companion
Redirect 301 /nizhny-novgorod/companies/zettains http://dvestrahovki.ru/sankt-peterburg/companies/zettains
Redirect 301 /company/ru/sankt-peterburg/stalfond http://dvestrahovki.ru/sankt-peterburg/companies/stalfond
Redirect 301 /nizhny-novgorod/companies/vsk http://dvestrahovki.ru/moscow/companies/vsk
Redirect 301 /sankt-peterburg/companies/vsk http://dvestrahovki.ru/moscow/companies/vsk
Redirect 301 /krasnodar/companies/vsk http://dvestrahovki.ru/moscow/companies/vsk
Redirect 301 /moscow/companies/europlan http://dvestrahovki.ru/sankt-peterburg/companies/europlan
Redirect 301 /perm/companies/europlan http://dvestrahovki.ru/sankt-peterburg/companies/europlan
Redirect 301 /nizhny-novgorod/companies/europlan http://dvestrahovki.ru/sankt-peterburg/companies/europlan
Redirect 301 /moscow/companies/zettains http://dvestrahovki.ru/sankt-peterburg/companies/zettains
Redirect 301 /sankt-peterburg/companies/vtbins http://dvestrahovki.ru/novosibirsk/companies/vtbins
Redirect 301 /moscow/companies/vtbins http://dvestrahovki.ru/novosibirsk/companies/vtbins
Redirect 301 /krasnodar/companies/vtbins http://dvestrahovki.ru/novosibirsk/companies/vtbins
Redirect 301 /nizhny-novgorod/companies/sk_if http://dvestrahovki.ru/moscow/companies/sk_if
Redirect 301 /krasnoyarsk/companies/sk_if http://dvestrahovki.ru/moscow/companies/sk_if
Redirect 301 /omsk/companies/sk_if http://dvestrahovki.ru/moscow/companies/sk_if
Redirect 301 /novosibirsk/companies/sk_if http://dvestrahovki.ru/moscow/companies/sk_if
Redirect 301 /moscow/companies/moscow/alfastrah http://dvestrahovki.ru/moscow/companies/alfastrah
Redirect 301 /moscow/companies/moscow/activ http://dvestrahovki.ru/moscow/companies/activ
Redirect 301 /company/ru/moscow/rgs http://dvestrahovki.ru/moscow/companies/rgs
Redirect 301 /moscow/companies/moscow/rgs http://dvestrahovki.ru/moscow/companies/rgs
Redirect /company/by/minsk/belbroker http://dvestrahovki.ru/
Redirect /company/by/minsk/eximgarant http://dvestrahovki.ru/

Redirect /company/by/minsk/alphabroker http://dvestrahovki.ru/
Redirect /company/by/minsk/belvneshstrakh http://dvestrahovki.ru/
Redirect /company/by/minsk http://dvestrahovki.ru/
Redirect 301 /moscow/companies/moscow/profile-re http://dvestrahovki.ru/moscow/companies/profile-re
Redirect 301 /moscow/companies/sankt-peterburg/ingos http://dvestrahovki.ru/sankt-peterburg/companies/ingos
Redirect 301 /moscow/companies/moscow/zhaso http://dvestrahovki.ru/moscow/companies/zhaso
Redirect 301 /moscow/companies/sankt-peterburg/metlife http://dvestrahovki.ru/sankt-peterburg/companies/metlife
Redirect 301 /moscow/companies/moscow/sgmsk/comments http://dvestrahovki.ru/moscow/companies/sgmsk/comments

Redirect 301 /moscow/companies/sankt-peterburg/oranta http://dvestrahovki.ru/sankt-peterburg/companies/oranta
Redirect 301 /moscow/companies/Perm/adonis/comments http://dvestrahovki.ru/perm/companies/adonis/comments
Redirect 301 /moscow/companies/Perm/alfastrah/comments http://dvestrahovki.ru/perm/companies/alfastrah/comments

Redirect 301 /moscow/companies/moscow http://dvestrahovki.ru
Redirect 301 /moscow/companies/rostov-na-donu/alfastrah/comments http://dvestrahovki.ru/rostov-na-donu/companies/alfastrah/comments
Redirect 301 /moscow/companies/novosibirsk/alfastrah/comments http://dvestrahovki.ru/rostov-na-donu/companies/alfastrah/comments
Redirect /company/kz/astana/alp http://dvestrahovki.ru

Redirect 301 /moscow/companies/moscow/renins http://dvestrahovki.ru/moscow/companies/renins
Redirect 301 /moscow/companies/moscow/kapital http://dvestrahovki.ru/moscow/companies/kapital
Redirect /company/ua http://dvestrahovki.ru/

Redirect /company/kz/astana/kompetenz http://dvestrahovki.ru/
Redirect //kyiv http://dvestrahovki.ru/
Redirect 301 /moscow/companies/sankt-peterburg/nsglife http://dvestrahovki.ru/sankt-peterburg/companies/nsglife
Redirect 301 /moscow/companies/sankt-peterburg/nasko/comments http://dvestrahovki.ru/sankt-peterburg/companies/nasko/comments
Redirect 301 /moscow/companies/rostov-na-donu/allianz http://dvestrahovki.ru/rostov-na-donu/companies/allianz
Redirect 301 /moscow/companies/rostov-na-donu/allianz/comments http://dvestrahovki.ru/rostov-na-donu/companies/allianz/comments
Redirect 301 /moscow/companies/omsk http://dvestrahovki.ru/omsk/companies
Redirect 301 /moscow/companies/moscow/sk_if http://dvestrahovki.ru/moscow/companies/sk_if

Redirect 301 /krasnoyarsk/companies/zettains http://dvestrahovki.ru/sankt-peterburg/companies/zettains
Redirect 301 /moscow/companies/sankt-peterburg/stalfond http://dvestrahovki.ru/sankt-peterburg/companies/stalfond
Redirect 301 /AIZhK/comments http://dvestrahovki.ru/moscow/companies/AIZhK/comments
Redirect 301 /moscow/companies/sankt-peterburg/companion/comments http://dvestrahovki.ru/sankt-peterburg/companies/companion/comments
Redirect 301 /moscow/companies/novosibirsk/kupecheskoe/comments http://dvestrahovki.ru/novosibirsk/companies/kupecheskoe/comments
Redirect 301 /moscow/companies/rostov-na-donu/europlan/comments http://dvestrahovki.ru/rostov-na-donu/companies/europlan/comments
Redirect //bgs http://dvestrahovki.ru
Redirect //ingo http://dvestrahovki.ru
Redirect //ukringroup http://dvestrahovki.ru

<IfModule mod_deflate.c>
    AddOutputFilterByType DEFLATE text/css
    AddOutputFilterByType DEFLATE text/javascript
    AddOutputFilterByType DEFLATE application/x-javascript
    AddOutputFilterByType DEFLATE application/javascript
    AddOutputFilterByType DEFLATE text/x-component
    AddOutputFilterByType DEFLATE text/html
    AddOutputFilterByType DEFLATE text/richtext
    AddOutputFilterByType DEFLATE image/svg+xml
    AddOutputFilterByType DEFLATE text/plain
    AddOutputFilterByType DEFLATE text/xsd
    AddOutputFilterByType DEFLATE text/xsl
    AddOutputFilterByType DEFLATE text/xml
    AddOutputFilterByType DEFLATE image/x-icon
    AddOutputFilterByType DEFLATE application/json
</IfModule>

<IfModule mod_rewrite.c>
    RewriteEngine On

    RewriteCond %{HTTP_HOST}	^www\.(.*)	[NC]
    RewriteRule ^(.*)$ http://%1/$1	[R=301,L]

    RewriteBase /
    RewriteCond %{HTTP_HOST} (.*)
    RewriteCond %{REQUEST_URI} /$ [NC]
    RewriteRule ^(.*)(/)$ $1 [L,R=301]

    RewriteCond %{REQUEST_URI}::$1 ^(/.+)/(.*)::\2$
    RewriteRule ^(.*) - [E=BASE:%1]

    RewriteCond %{ENV:REDIRECT_STATUS} ^$
    RewriteRule ^app\.php(/(.*)|$) %{ENV:BASE}/$2 [R=301,L]

    RewriteCond %{REQUEST_FILENAME} -f
    RewriteRule .? - [L]

    RewriteRule .? %{ENV:BASE}/app.php [L]
</IfModule>

<IfModule !mod_rewrite.c>
    <IfModule mod_alias.c>
    
        RedirectMatch 302 ^/$ /app.php/

    </IfModule>
</IfModule>
