{% extends '::base_new.html.twig' %}

{% block title %}Реклама на сайте DveStrahovki.ru{% endblock %}
{% block description %}Доступная информация о рекламе на сайте{% endblock %}

{% block main %}
    <div class="text-container">
        <div class="baselayout">
            <h1>Реклама на сайте</h1>
        </div>
        <div class="baselayout-inner">
            Текст
        </div>
    </div>
{% endblock %}