{% extends '::base.html.twig' %}

{% block title %}Каталог компаний DveStrahovki.ru{% endblock %}
{% block description %}Доступная информация о компаниях на сайте{% endblock %}

{% block body %}
    <div class="text-container">
        <div class="baselayout">
            <h1>Каталог</h1>
        </div>
        <div class="baselayout-inner">

        </div>
    </div>
{% endblock %}