{% extends '::base.html.twig' %}

{% block title %}Контактная информация сайта Bohenon.com{% endblock %}
{% block description %}Список контактных данных для связи с нами{% endblock %}

{% block body %}
    <div class="text-container">
        <div class="baselayout">
            <h1>Контакты</h1>
        </div>
        <div class="baselayout-inner">
            Контактная информация
        </div>
    </div>
{% endblock %}