{% extends '::base.html.twig' %}

{% block title %}Полный список публикаций на сайте DveStrahovki.ru{% endblock %}
{% block description %}Ваш путиводитель по сайту DveStrahovki.ru{% endblock %}

{% block body %}
    <div class="text-container">
        <div class="baselayout">
            <h1>Карта сайта</h1>
        </div>
        <div class="baselayout-inner">
            Путиводитель по сайту
        </div>
    </div>
{% endblock %}